.content__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__item {
    width: 100%;
}

.content__link {
    padding: 10px;
    background-color: orangered;
    color: #fff;
    text-align: center;
}