.card {
    padding: 112px 0;
    background: #8EC2F2;
}


.card__inner {}



.card__items {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: space-between;
}

.card__item {
    padding: 30px 40px;
    position: relative;
    background: #FFFFFF;
    margin-left: 20px;
}

.card__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card__item-position {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 15px;
}

.card__item-rate {
    margin-bottom: 15px;
}

.card__item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card__item-avatar {
    position: absolute;
    top: 28px;
    left: -47px;

    img {
        display: block;
        border-radius: 50%;
        width: 72px;
        height: 72px;
    }
}