// header

.header {
    margin-top: 47px;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        align-items: center;
    }
    &__logo {
        img {
            display: block;
        }
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        margin-left: 86px;
        align-items: center;
    }
    &--btn {
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        color: #212832;
        background: none;
        cursor: pointer;
        border: none;
        font-family: inherit;
    }
    &--btn + .header--btn {
        margin-left: 20px;
    }
    &__btn-login {
        padding: 8px 21px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #212832;
        border-radius: 5px;
        &:hover {
            background-color: #212832;
            color: #fff;
        }
    }
    &__btn-signup {
        padding: 8px 21px;
        border: 1px solid #212832;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #212832;
            color: #fff;
        }
    }
    &__btn-lang {
        position: relative;
        padding-right: 16px;
        &:before {
            content: "";
            position: absolute;
            background-image: url("../images/svg/arrow-down-2.svg");
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 10px;
            height: 5px;
        }
    }
}
.header__btn-lang--mobile {
    display: none;
}
.nav {
    &__list {
        display: flex;
    }
    &__item {
        position: relative;
        &:hover {
            > .subnav {
                display: block;
            }
        }
        &:hover {
            .nav__link {
                color: #2f55d4;
            }
        }
    }
    &__item + .nav__item {
        margin-left: 0px;
    }
    &__link {
        padding: 10px 20px;
        font-size: 17px;
        line-height: 22px;
        color: #212832;
        display: block;
        transition: all 0.2s linear;
        &.has-subnav {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: currentColor transparent transparent transparent;
                bottom: -5px;
                transform: translateX(-50%);
                z-index: 99;
                left: 50%;
                width: 10px;
                height: 5px;
            }
        }
    }
}
.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 0 5px;
    padding-top: 20px;
    box-shadow: 0px 6px 8px rgba(black, 0.2);
    &__link {
        padding: 7px;
        font-size: 13px;
        line-height: 20px;
        color: #212832;
        text-decoration: none;
        display: block;
        transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: darken(#fff, 2%);
            text-decoration: underline;
            color: #2f55d4;
        }
    }
}

.burger {
    display: none;
}

.header__logo.header__logo--mobile {
    display: none;
}
