@media (max-width: 1230px) {}

@media(max-width: 1200px) {}

@media (max-width: 1160px) {

	.catalog-inner {
		flex-wrap: wrap;
	}

	.catalog-inner__products {
		width: 100%;
	}

	.catalog__scrolling {
		width: 100%;
		margin: 0;
	}

	.catalog-inner__category {
		margin-right: 0;
		margin-bottom: 40px;
		width: 100%;
	}

	.catalog .fixed {
		position: initial;
	}

	.catalog .absolute {
		position: initial;
	}

}


@media (max-width: 1130px) {
	.apps__mailing-line {
		display: none;
	}

	.banner__inner {
		background-position: 95% 0;
	}

	.banner__inner-info {
		margin-left: 75px;
	}

	.apps__mailing-inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		padding-bottom: 1px;
		padding-top: 50px;
	}

	.apps__wrapper {
		margin-left: 0px;

	}

	.mailing__wrapper {
		margin: 0px;
		margin-top: 80px;
		margin-bottom: 50px;

	}
}

@media (max-width: 1119px) {}

@media (max-width: 1050px) {}


@media (max-width: 1030px) {
	.header__text-help {
		display: none;
	}

	.product-info__items {
		padding: 0 50px;
	}

	.header__text-help-1030 {
		display: block;
	}
}


@media (max-width: 935px) {
	.product-page__characteristics-item {
		padding: 10px 0 6px;
		font-size: 18px;
		line-height: 22px;
	}

	.characteristics__left {
		opacity: .5;
	}

	.characteristics__right {
		width: 180px;
	}

	.product-page__info-list li {
		font-size: 16px;
		line-height: 19px;
	}

	.product-page__info-text {
		font-size: 18px;
		line-height: 21px;
	}

	.aside-product-page__container {
		width: auto;
	}

	.aside-product-page__tab {
		display: block;
		font-size: 22px;
		line-height: 26px;
	}

	.aside-product-page__tab.tab--active {
		display: inline-block;
	}

	.aside-product-page__tabs {
		display: block;
		height: auto;
	}

	.aside-product-page__tab+.aside-product-page__tab {
		margin-left: 0px;
		margin-top: 20px;
	}

}

@media (max-width: 923px) {}

@media (max-width: 900px) {
	.main-block__inner-text {
		font-size: 25px;
		width: 400px;
	}

	.main-block__inner-btn {
		width: 150px;
		font-size: 16px;
		padding: 10px 0;
	}

	.main-block {
		background-position: 70% 0% !important;
	}

}

@media (max-width: 880px) {
	.product-page__inner {
		display: block;
	}

	.product-page__right {
		margin: 0;
		margin-top: 35px;
	}

	.products__filter-btn button {
		display: block;
	}

	.products__filter-btn {
		border: 1px solid #DEDEDE;
		margin: 0;
		padding: 20px;
		margin-bottom: 30px;
	}

	.catalog__products-filter {
		height: auto;
		display: block;
		border: none;
	}

	.products__sorting-btn {
		float: right;
		margin-right: 55px;
	}

	.products__inner-box {
		margin-top: 100px;
	}
}



/* @media (max-width: 815px) {
	.category-products__item {
		margin-right: 0;
	}
} */

@media (max-width: 800px) {
	.search input {
		width: 400px;
	}

	.all-rating .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
		width: 26px;
		height: 26px;
		margin-right: 5px;
	}

	.others-ratiog__left {
		margin-right: 40px;
		font-size: 16px;
		line-height: 20px;
	}

	.rating__title {
		font-size: 16px;
		line-height: 20px;
	}

	.others-rating .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

@media (max-width: 736px) {
	.header__text-help-1030 {
		display: none;
	}
}

@media (max-width: 730px) {
	.banner-info__text {
		width: 320px;
	}

	.banner__inner {
		background-position: 85% 0;
	}
}

@media(max-width: 702px) {

	.products__sorting-btn {}

}

@media (max-width: 700px) {
	.search input {
		width: 300px;
	}

	.main-block__inner-text {
		font-size: 25px;
		width: 280px;
		line-height: 28px;
	}

	.product-info__items {
		padding: 0;
	}
}

@media (max-width: 698px) {
	.products__inner-box {}

	.catalog-inner {}

	.catalog-inner__category {}

}

@media (max-width: 660px) {
	.lost-pass {
		display: flex;
		margin-left: 40px;
		margin-top: 15px;
	}
}

@media (max-width: 650px) {
	.reviews__inner {
		display: block;
	}

	.others-rating {
		margin-top: 60px;
	}

	.others-rating__list {
		margin-top: 0;
	}

	.others-rating .rating__title {
		margin-bottom: 5px;
	}
}

@media (max-width: 620px) {
	.product-info__items {
		display: block;
		text-align: center;
	}

	.product-info__item {
		margin-bottom: 100px;
	}

	.footer__inner {
		display: block;
	}
}

@media(max-width: 600px) {
	.search__inner {
		display: none;
	}

	.search-update {
		display: block;
		width: 25px;
		height: 25px;
	}

	.search-update__click.active {
		display: block;
		z-index: 999;
	}

	.search-update__click {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -45px;
	}

	.search-update__click input {
		width: 100%;
		border: 1px solid #0674EC;
		box-shadow: 0px 0px 10px 1px rgba(31, 138, 236, 0.25);
		padding: 10px 0px;
		font-size: 12px;
		line-height: 14px;
		color: #131313;
		padding-right: 80px;
		padding-left: 30px;
		position: relative;
	}

	.search-update__click input:hover .search-update__click button {
		border: none;
	}

	.search-update__click button {
		position: absolute;
		right: 10px;
		background-color: transparent;
		border: none;
		font-size: 15px;
		line-height: 12px;
		height: 36px;
		cursor: pointer;
	}

	.search-update__inner::before {
		content: "";
		background-image: url(../images/search-update.svg);
		width: 25px;
		height: 25px;
		position: absolute;
		right: 0px;
		top: 13px;
		z-index: 9999;
		cursor: pointer;
	}


	.header-down__inner {
		position: relative;
	}
}

@media (max-width: 580px) {
	.banner__inner-info {
		margin-left: 30px;
	}

	.banner-info__title {
		font-size: 20px;
		line-height: 24px;
	}

	.banner-info__text {
		width: 250px;
		font-size: 15px;
	}

	.banner__inner {
		background-position: 90% 0;
	}

	.banner-info__btn {
		width: 150px;
		padding: 10px 0;
		font-size: 16px;
		line-height: 20px;
	}

	.header__site-setup__flag {
		display: none;
	}
}

@media (max-width: 550px) {
	.main-block {
		background-position: 75% 0% !important;
	}

	.main-block__inner-text {
		font-size: 20px;
		width: 250px;
	}
}

@media (max-width: 525px) {
	.main-block__inner {
		padding-top: 100px;
	}

	.main-block {
		height: 400px;
	}
}

@media (max-width: 520px) {
	.products__inner-box {
		justify-content: center;
	}

	.products__sorting-btn {}

	.lost-pass {
		margin-left: 20px;
	}

	.login__title {
		margin-left: 20px;
	}

	.login__title2 {

		padding-left: 20px;
	}

	.login__wrapper label::before {
		left: 33px;
	}

	.login__wrapper label {
		padding: 0 20px;
	}

	.register__wrapper label {
		padding: 0 20px;
	}

	.login__wrapper button,
	.register__wrapper button {
		margin-left: 20px;
	}

	.login__wrapper button {
		width: 200px;
	}

	.creat-acc {
		margin-left: 20px;
	}

	.header-down__catalog:hover .header-down__catalog--active {
		display: none;
	}

	.catalog__product-name:hover+.catalog__product-menu {
		display: none;
	}

	.header-down__inner {
		position: relative;
	}


	.header-down__catalog {
		z-index: 8;
	}






	.header__btn-aut {
		display: block;
	}

	.header__aut-input {
		margin-bottom: 10px;
	}

	.header__aut-input::after {
		display: none;
	}

	.header__inner-btn {
		display: flex;
	}

	.header__btn-btn-bell {
		display: none !important;
	}

	.header__btn-btn {
		margin-top: 0px;
	}

	.header__btn-btn a {
		width: 17px;
		height: 17px;
	}

	.header__btn-btn a+a {
		margin-left: 0px;
	}

	.header__btn-menu {
		display: block;
		position: relative;
	}

	.header__btn-menu {
		width: 70px;
		height: 70px;
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 4;
	}

	.header__btn-menu::before {
		content: "";
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 50px;
		color: #fff;
		background-image: url(../images/profile-user.svg);
		z-index: 99;
		width: 45px;
		height: 45px;
	}

	.header__inner-btn.active {
		left: 70px;
		right: 90px;
	}

	.header__inner-btn {
		transition: all .5s;
		position: absolute;
		background: #F0F0F4;
		box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
		height: 70px;
		left: 100%;
		right: -100%;
		z-index: 2;
		padding: 15px;
	}

	.header__inner-btn.active {
		left: 210px;
	}
}

@media(max-width: 515px) {
	.header__inner-btn.active {
		left: 195px;
	}
}

@media(max-width: 500px) {

	.product-page__characteristics-item {
		padding: 10px 0 6px;
		font-size: 14px;
		line-height: 18px;
	}

	.characteristics__right {
		width: 150px;
	}

	.aside-product-page__tab {
		display: block;
		font-size: 16px;
		line-height: 19px;
	}

	.product-page__info-text {
		font-size: 16px;
		line-height: 25px;
	}

	.product-page__info-list li {
		font-size: 14px;
		line-height: 17px;
	}


	.header__inner-btn.active {
		left: 180px;
	}

	.products__title {
		font-size: 25px;
	}

	.apps__img img {
		width: 110px;
	}

	.apps__inner-link a {}

	.apps__inner-title {
		width: 140px;
		font-size: 13px;
		line-height: 17px;
	}

	.apps__inner-points {
		font-size: 10px;
		line-height: 12px;
	}

	.apps__inner-link img {
		width: 67px;
	}


	.mailing__wrapper {
		width: 350px;

	}

	.mailing__info-text {
		font-size: 13px;
		line-height: 15px;
		width: 250px;
		margin: 0 45px;
	}
}

@media(max-width: 485px) {
	.header__inner-btn.active {
		left: 160px;
	}
}

@media (max-width: 470px) {
	.header__inner-btn.active {
		left: 140px;
	}

	.main-block {
		background-position: 85% 0% !important;
	}

	.main-block__inner-text {
		font-size: 17px;
		width: 150px;
	}

	.main-block__inner-btn {
		width: 125px;
		font-size: 14px;
		padding: 8px 0;
	}
}

@media (max-width: 463px) {
	.creat-acc {
		margin-left: 20px;
		margin-top: 15px;
		width: 200px;
	}
}

@media (max-width: 450px) {
	.product-page__info-list li::before {
		top: 3px;
		width: 8px;
		height: 8px;
	}

	.product-page__info-list li {
		font-size: 12px;
		line-height: 15px;
	}

	.product-page__info-text {
		font-size: 14px;
		line-height: 21px;
	}

	.others-rating {
		margin-right: 10px;
	}

	.others-ratiog__left {
		margin-right: 10px;
	}

	.others-rating .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
		width: 15px;
		height: 15px;
		margin-right: 3px;
	}

	.others-ratiog__left {
		font-size: 12px;
		line-height: 15px;
	}

	.product-page__discount {
		padding: 5px 8px;
		font-size: 15px;
		line-height: 18px;
	}

	.product-page__slider-box {
		width: 120px;
		height: 30px;
		opacity: 0.8;
	}

	.product-page .slick-dots {
		bottom: 10px;
	}

	.product-page__slider {
		width: 300px;
		height: 425px;
	}

	.product-page__items {
		width: 300px;
		height: 425px;
	}

	.product-page__item {
		width: 300px;
		height: 425px;
	}

	.breadcrumbs__list-item {
		font-size: 12px;
		line-height: 15px;
	}

	.breadcrumbs__list-item::after {
		bottom: 4px;
	}

	.category-products__item-btn {
		width: 120px;
		padding: 10px 0;
		font-size: 12px;
		line-height: 14px;
		z-index: 9999;
	}

	.category-products__item-title {
		font-size: 22px;
		line-height: 26px;
		width: 150px;
	}

	.category-products .slick-prev {
		left: -7px;
	}

	.category-products .slick-next {
		right: -7px;
	}

	.header__inner-btn.active {
		left: 120px;
	}
}

@media(max-width: 425px) {
	.header__inner-btn.active {
		left: 110px;
	}
}

@media (max-width: 420px) {


	.header__inner-btn.active {
		left: 95px;
	}

	.banner-info__title {
		font-size: 17px;
		line-height: 22px;
		margin-top: 25px;
	}

	.banner-info__text {
		width: 130px;
		font-size: 13px;
	}

	.banner__inner {
		background-position: 90% 0;
	}

	.banner-info__btn {
		width: 150px;
		padding: 10px 0;
		font-size: 16px;
		line-height: 20px;
	}

	.banner__inner-info {
		margin-left: 10px;
	}

}

@media (max-width: 410px) {
	.header__inner-btn.active {
		left: 80px;
	}

	.container {
		padding: 0 8px;
	}

	.product-slider .slick-prev {
		left: -8px;
	}

	.product-slider .slick-next {
		right: -8px;
	}
}

@media (max-width: 390px) {
	.product-page__basket {
		padding: 10px 23px;
		font-size: 18px;
		line-height: 21px;
	}

	.product-page__slider {
		width: 285px;
		height: 404px;
	}

	.product-page__items {
		width: 285px;
		height: 404px;
	}

	.product-page__item {
		width: 285px;
		height: 404px;
	}

	.mailing__wrapper {
		width: 285px;
	}

	.mailing__info-title {
		font-size: 16px;
	}

	.mailing__info-text {
		font-size: 12px;
		line-height: 15px;
		width: 200px;
		margin: 0 42.5px;
	}

	.header__inner-btn.active {
		left: 70px;
	}
}

@media(max-width: 380px) {

	.header__inner-btn.active {
		left: 60px;
	}
}

@media (max-width: 370px) {
	.header__inner-btn.active {
		left: 50px;
	}
}

@media (max-width: 350px) {
	.header__inner-btn.active {
		left: 35px;
	}
}

@media(max-width: 340px) {
	.header__inner-btn.active {
		left: 25px;
	}
}

@media (max-width: 335px) {
	.header__inner-btn.active {
		left: 10px;
	}
}

/*@media (min-width: 992px){
	.menu__list{
		display: flex !important;
	}
}*/