.header {
    max-width: 100%;
    background-size: cover;
    height: 100vh;
}

.header__top {
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
    min-height: 52px;
}

.header__logo {}

.logo {
    display: block;
    max-width: none;
}

.header__nav {
    margin-left: 75px;
}

.header__nav-list {
    display: flex;
    font-weight: 600;
}

.header__nav-item+.header__nav-item {
    margin-left: 21px;
}

.header__nav-item {
    position: relative;

    &:before {
        position: absolute;
        bottom: -4px;
        content: '';
        width: 0;
        height: 2px;
        background-color: #23A6F0;
        transition: width 0.4s ease-in-out;
    }

    &:hover:before {
        width: 100%;
    }
}

.header__nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    transition: color 0.2s linear;

    &:hover {
        color: darken(#fff, 15%)
    }
}

.header__btns {
    margin-left: auto;
    font-weight: 700;
    display: flex;
}

.header__btn {}

.header__login {
    font-weight: inherit;
    font-family: inherit;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.header__btn-link {
    margin-left: 45px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 52px 0 25px;
    background: #23A6F0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    position: relative;
    transition: background 0.2s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/svg/arrow-right.svg');
        width: 12px;
        height: 10px;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
    }

    &:hover {
        background: darken(#23A6F0, 7%);
    }
}

.header__main {
    max-width: 599px;
    margin-top: 125px;
}

.header__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
}

.header__main-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
    max-width: 376px;
}

.header__main-btns {
    display: flex;
}

.header__main-btn {
    height: 52px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    border-radius: 37px;
    padding: 15px 36px;
}

.header__main-btn--now {
    margin-right: 10px;
    background: #23A6F0;
    transition: background 0.2s ease-in-out;

    &:hover {
        background: darken(#23A6F0, 7%);
    }
}

.header__main-btn--more {
    border: 1px solid #FFFFFF;
    transition: color 0.2s linear, border 0.2s linear;

    &:hover {
        color: #23A6F0;
        border: 1px solid #23A6F0;
    }
}





.header__nav--mobile {
    display: none;
    align-items: center;
}

.header__btns--mobile {
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.header__btn--mobile {
    img {
        display: block;
    }
}

.header__btn--mobile+.header__btn--mobile {
    margin-left: 24px;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.burger__item {
    height: 2.2px;
    background-color: #fff;
}

.burger__item:nth-child(1) {
    width: 23px;
}

.burger__item:nth-child(2) {
    width: 17px;
}

.burger__item:nth-child(3) {
    width: 10px;
}

.burger__item+.burger__item {
    margin-top: 5px;
}