%btn-nobg{
	color: #F2994A;
	border-radius: 3px;
	border: 1px solid #F2994A;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	padding: 8px 28px;
	position: relative;
	z-index: 10;
	
}
%btn-bg{
	background: #F2994A;
	box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
	border-radius: 3px;
	color: #fff;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	padding: 8px 28px;
	position: relative;
	z-index: 10;
}
%color--t2{
	color: #99EFD0;
}
%color--t1{
	color: #8476AA;
}
%color--base{
	color: #F2994A;
}