// page-main

// top
.top__bg {
    position: absolute;
    right: 0;
    top: -70px;
    z-index: -1;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.top {
    margin-top: 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__content {
        max-width: 630px;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        text-transform: uppercase;
        color: #df6951;
    }
    &__title {
        font-weight: bold;
        font-size: 60px;
        line-height: 75px;
        letter-spacing: -0.04em;
        color: #181e4b;
        margin-top: 24px;
        span {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background-image: url("../images/top-decoration.png");
                width: 426px;
                height: 14px;
                bottom: -2px;
                right: -30px;
            }
        }
    }
    &__descr {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #5e6282;
        max-width: 400px;
        margin-top: 30px;
    }
    &__btn {
        margin-top: 34px;
        display: flex;
        align-items: center;
    }
    &__btn-more {
        margin-right: 44px;
        font-family: inherit;
        background: #f1a501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
        padding: 14px 23px;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: darken(#f1a501, 5%);
        }
    }
    &__btn-play {
        position: relative;
        padding-left: 73px;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: #686d77;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: #df6951;
            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-image: url("../images/svg/top__play.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__image {
        display: block;
        position: absolute;
        right: 0;
        top: -50px;
        img {
            max-width: 100%;
        }
    }
}

// services

.services {
    margin-top: 214px;
    padding-bottom: 24px;
    &__subtitle {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #5e6282;
    }
    &__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 64px;
        text-align: center;
        text-transform: capitalize;
        color: #14183e;
    }
    &__items {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(4, 267px);
        justify-content: space-between;
        position: relative;
        &:before {
            content: "";
            background-image: url("../images/services-decor.png");
            position: absolute;
            width: 153px;
            height: 166px;
            right: -146px;
            top: -117px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0 43px 45px;
        background-color: #fff;
        position: relative;
        transition: all 0.2s linear;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
            0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
            0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
            0px 20px 13px rgba(0, 0, 0, 0.01),
            0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
            0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 36px;
        z-index: 98;
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
            }
        }
        &-title {
            margin-top: 5px;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #1e1d4c;
        }
        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #5e6282;
        }
    }
}

.sell {
    margin-top: 100px;
    padding-bottom: 86px;
    &__subtitle {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #5e6282;
    }
    &__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 64px;
        text-align: center;
        text-transform: capitalize;
        color: #14183e;
    }
    &__items {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 314px 314px 314px;
        justify-content: space-between;
        position: relative;
        &:before {
            content: "";
            background-image: url("../images/sell-decor.png");
            position: absolute;
            width: 96px;
            height: 252px;
            right: -60px;
            bottom: 0;
        }
    }
    &__item {
        border-radius: 24px;
        position: relative;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
            0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
            0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
            0px 20px 13px rgba(0, 0, 0, 0.01),
            0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
            0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    }
    &__item-img {
        border-radius: 24px;
        display: block;
    }
    &__item-content {
        width: 314px;
        background: #ffffff;
        border-radius: 0px 0px 24px 24px;
        position: absolute;
        bottom: -4px;
        padding: 25px 25px 40px 20px;
    }
    &__item-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
    }
    &__item-place {
        font-weight: 500;
        font-size: 18px;
        line-height: 124.5%;
        color: #5e6282;
    }
    &__item-cost {
        font-weight: 500;
        font-size: 18px;
        line-height: 124.5%;
        color: #5e6282;
    }
    &__item-time {
        font-weight: 500;
        font-size: 16px;
        line-height: 124.5%;
        color: #5e6282;
        position: relative;
        padding-left: 34px;
        &:before {
            content: "";
            position: absolute;
            background-image: url("../images/svg/sell-icon.svg");
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }
    }
}

// .reservation

.reservation {
    margin-top: 100px;
}

.reservation__inner {
    display: flex;
}
.reservation__left {
    max-width: 511px;
    margin-right: 100px;
}
.reservation__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5e6282;
    margin-bottom: 15px;
}
.reservation__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183e;
    margin-bottom: 31px;
}
.reservation__left-items {
}
.reservation__left-item {
    display: flex;
    margin-bottom: 48px;
    width: 400px;
    align-items: center;
}
.reservation__left-img {
    display: block;
    width: 47px;
    height: 47px;
}
.reservation__left-content {
    padding-left: 21px;
}
.reservation__left-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 124.5%;
    color: #5e6282;
    margin-bottom: 4px;
}
.reservation__left-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 124.5%;
    color: #5e6282;
}
.reservation__right {
    position: relative;
    margin-top: 51px;
    max-width: 485px;
    &:before {
        content: "";
        background-image: url("../images/reservation__right-decor.png");
        width: 354px;
        background-size: cover;
        height: 367px;
        position: absolute;
        bottom: 271px;
        right: -178px;
        z-index: -1;
        opacity: 0.7;
    }
}
.reservation__right-inner {
    max-width: 370px;
    padding: 20px 24px 31px 24px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
}
.reservation__right-content {
    margin-top: 26px;
}
.reservation__right-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    color: #080809;
}
.reservation__right-info {
    display: flex;
    margin-top: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829a;

    p:nth-child(1) {
        position: relative;
        padding-right: 4px;
        &:after {
            content: "";
            position: absolute;
            background-color: #84829a;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 16px;
        }
    }
    p:nth-child(2) {
        margin-left: 13px;
    }
}
.reservation__right-icons {
    display: flex;
    margin-top: 21px;
}
.reservation__right-icon {
    background: #f5f5f5;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}
.eservation__right-going-favorite {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 31px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("../images/svg/going.svg");
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 124.5%;
        letter-spacing: -0.02em;
    }
}
.reservation__right-menu {
    width: 263px;
    position: absolute;
    bottom: 130px;
    left: 180px;
    display: flex;
    padding: 16px 75px 22px 20px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
}
.reservation__right-menu__avatar {
    img {
        border-radius: 50%;
    }
}
.reservation__right-menu__content {
    margin-left: 12px;
}
.reservation__right-menu__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.035em;
    color: #84829a;
}
.reservation__right-menu__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: -0.015em;
    color: #080809;
    margin-top: 6px;
    margin-bottom: 14px;
}
.reservation__right-menu__completed {
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.055em;
    color: #8a79df;
    span {
        color: #080809;
    }
}

// people
.people {
    margin-top: 200px;
    padding-bottom: 70px;
    &__inner {
        display: flex;
    }
}

.people__left {
    max-width: 409px;
    margin-right: 87px;
}
.people__left-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #5e6282;
}
.people__left-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183e;
}
.people__right {
    max-width: 669px;
}
.people__item {
    position: relative;
}

.people__item-content {
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    max-width: 541px;
    padding: 28px 68px 34px 68px;
    position: relative;
    z-index: 100;
}
.people__avatar {
    margin: -28px 0 0 -68px;
}
.people__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5e6282;
    margin-bottom: 34px;
}
.people__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5e6282;
    margin-bottom: 5px;
}
.people__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #5e6282;
}
.people__item-next {
    margin-left: 87px;
    padding: 20px 34px;
    position: relative;
    left: -49px;
    bottom: 21px;
    border: 1px solid rgba(#4e4e73, 0.1);
    z-index: 99;
    max-width: 502px;
}
.people__name-next {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5e6282;
    margin-bottom: 6px;
}
.people__position-next {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #5e6282;
}

.people {
    .slick-arrow {
        padding: 0;
        margin: 0;
        border: none;
        width: 20px;
        height: 10px;
        font-size: 0;
        background: transparent;
    }
    .slick-arrow {
        position: absolute;
        width: 20px;
        background-image: url("../images/svg/arrow-down.svg");
        height: 10px;
        position: absolute;
        background-repeat: no-repeat;
        z-index: 99;
    }
    .slick-next {
        bottom: 50%;
        right: 0;
    }
    .slick-prev {
        top: 35%;
        right: 2px;
        transform: rotate(180deg);
    }
    .slick-disabled {
        opacity: 0.5;
    }
}

// banner

.banner {
    margin-top: 40px;
    img {
        max-width: 100%;
    }
}

// mailing

.mailing {
    margin-top: 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &__inner {
        padding: 79px 20px 78px;
        text-align: center;
        background-color: rgba(#dfd7f9, 0.2);
        border-radius: 129px 20px 20px 20px;
        position: relative;
        &:before {
            content: "";
            background-image: url("../images/svg/mailing-decor-2.svg");
            top: 0;
            right: 0;
            width: 70px;
            height: 70px;
            position: absolute;
            background-repeat: no-repeat;
        }
    }
    &:before {
        content: "";
        background-image: url("../images/mailing-decor-1.png");
        top: 0;
        right: 60px;
        width: 264px;
        height: 351px;
        position: absolute;
        z-index: 99;
    }
    &:after {
        content: "";
        background-image: url("../images/mailing-decor-1.png");
        left: 40px;
        bottom: 30px;
        width: 264px;
        height: 351px;
        position: absolute;
        transform: rotate(90deg);
        z-index: 99;
    }
}
.mailing__title {
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5e6282;
    max-width: 859px;
    margin: 0 auto;
}
.mailing__form {
    margin-top: 74px;
}
.mailing__label {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background-image: url("../images/svg/mailing.svg");
        width: 21px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: 31px;
        z-index: 99;
    }
}
.mailing__input {
    max-width: 421px;
    width: 100%;
    padding: 25px 15px 26px 66px;
    font-size: 14px;
    line-height: 17px;
    color: #39425d;
    border: none;
    font-weight: 600;
    &::placeholder {
        font-size: 14px;
        line-height: 17px;
        color: #39425d;
        font-weight: 400;
    }
    &:focus {
        outline-color: rgba(#ff946d, 0.6);
    }
}
.mailing__btn {
    background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    padding: 22px 50px;
    margin-left: 20px;
    transition: all 0.2s linear;
    &:hover {
        background: linear-gradient(180deg, #f78a62 0%, #fe5b41 100%);
    }
}
