.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 600;
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    background-color: #fff
}

.header__container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.burger {
    display: none
}

.hero {
    margin-top: 85px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 700px;
    height: 100vh
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 60px
}

.hero__content {
    max-width: 560px
}

.hero__subtitle {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-family: "PT Sans", sans-serif
}

.hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px
}

.hero__info {
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    display: flex
}

.hero__author,
.hero__time {
    margin-right: 10px
}

.hero__author span {
    color: #b4b4b4
}

.posts-sidebar {
    margin-top: 60px
}

.posts-sidebar__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px
}

.instagram {
    margin-top: 80px
}

.instagram__title {
    font-size: 24px;
    line-height: 32px;
    color: #171717;
    font-weight: 400;
    text-align: center;
    display: block
}

.instagram__list {
    margin-top: 40px;
    display: flex;
    gap: 21px
}

.instagram__item {
    width: 100%;
    height: 100%
}

.instagram__link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #b4b4b4
}

.instagram__link img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

.footer {
    margin-top: 100px;
    padding-bottom: 30px
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.footer__nav {
    margin-top: 60px;
    font-family: "PT Sans", sans-serif
}

.footer__nav .nav__list {
    flex-wrap: wrap
}

.footer__nav .nav__item {
    margin-bottom: 10px
}

.footer__nav .nav__link {
    transition: color .3s ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #666
}

.footer__nav .nav__link:hover {
    color: #c9a96e
}

.footer__social {
    margin-top: 20px
}

.footer__copyright {
    margin-top: 70px;
    font-size: 14px;
    line-height: 18px;
    font-family: "PT Sans", sans-serif;
    color: #666
}

.nav__list {
    display: flex
}

.nav__item:not(:last-child) {
    margin-right: 35px
}

.nav__link {
    color: #171717;
    font-size: 14px;
    line-height: 19px
}

.nav__link--active {
    color: #c9a96e
}

.posts {
    grid-column: 8 span
}

.posts__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px
}

.posts-item--big {
    margin-top: 30px;
    grid-column: 2 span
}

.posts-item--big .posts-item__img {
    max-height: 350px
}

.posts-item--big .posts-item__content {
    text-align: left;
    padding: 25px 126px 25px 30px
}

.posts-item--big .posts-item__info {
    justify-content: start
}

.posts-item--big .posts-item__comments {
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #666
}

.posts-item--big .posts-item__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: "PT Sans", sans-serif
}

.posts-item__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .1));
    background-color: #fff
}

.posts-item__img {
    background-color: #00f;
    width: 100%;
    max-height: 280px
}

.posts-item__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

.posts-item__content {
    padding: 15px 40px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column
}

.posts-item__name {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    color: #c9a96e
}

.posts-item__title {
    font-weight: 400;
    margin-top: 4px;
    font-size: 20px;
    line-height: 28px;
    color: #171717
}

.posts-item__info {
    padding-top: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.posts-item__date {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-right: 10px
}

.posts-item__author {
    font-size: 12px;
    line-height: 16px;
    color: #666
}
.posts-item__author:hover{
    text-decoration: underline;
}
.posts-item__author span {
    color: #b4b4b4
}

.sidebar {
    grid-column: 4 span;
    margin-left: 100px
}

.sidebar__title {
    font-size: 16px;
    line-height: 21px;
    border: 1px solid #e5e5e5;
    padding: 15px 0 14px;
    text-align: center;
    color: #171717;
    font-weight: 400;
    margin-bottom: 20px
}

.sidebar__title--categories {
    margin-bottom: 7px
}

.sidebar__title--tags {
    margin-bottom: 10px
}

.sidebar__block:not(:first-child) {
    margin-top: 70px
}

.about-author__wrapper {
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .1));
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff
}

.about-author__img {
    background-color: #b4b4b4;
    width: 100%;
    height: 180px
}

.about-author__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

.about-author__content {
    padding: 20px 20px 15px;
    text-align: center
}

.about-author__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #171717
}

.about-author__position {
    margin-top: 4px;
    font-size: 14px;
    line-height: 19px
}

.about-author__text {
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    font-family: "PT Sans", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.about-author__more {
    margin-top: 14px;
    border-top: 1px solid #e5e5e5;
    padding: 12px 0;
    font-size: 12px;
    line-height: 16px;
    color: #c9a96e;
    text-transform: uppercase;
    width: 100%;
    text-align: center
}

.featured-posts__item:not(:last-child) {
    margin-bottom: 30px
}

.featured-posts__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .1));
    background-color: #fff
}

.featured-posts__img {
    background-color: #b4b4b4;
    width: 100%;
    height: 160px
}

.featured-posts__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block
}

.featured-posts__content {
    padding: 15px 10px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column
}

.featured-posts__name {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    color: #c9a96e
}

.featured-posts__title {
    font-weight: 400;
    margin-top: 4px;
    font-size: 18px;
    line-height: 26px;
    color: #171717
}

.featured-posts__info {
    padding-top: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px
}

.featured-posts__date {
    color: #666;
    margin-right: 10px
}

.featured-posts__author {
    color: #666
}
.featured-posts__author:hover {
    text-decoration: underline;
}

.featured-posts__author span {
    color: #b4b4b4
}

.categories__item:not(:first-child) .categories__title {
    border-top: 1px solid #e5e5e5
}

.categories__title {
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #666
}

.categories__list._init .categories__title {
    cursor: pointer;
    padding: 14px 0
}

.categories__content {
    color: #b4b4b4;
    padding: 0 10px 10px;
    font-size: 14px;
    line-height: 19px
}

.social-media__list {
    display: grid;
    grid-template-columns: repeat(3, 89px);
    grid-template-rows: repeat(3, 89px)
}

.social-media__link {
    width: 100%;
    height: 100%;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color .3s ease-in-out
}

.social-media__link svg {
    width: 20px;
    height: 20px;
    fill: #5a5a5a;
    transition: fill .3s ease-in-out
}

.social-media__link--fb svg {
    width: 11px;
    height: 20px
}

.social-media__link--pinterest svg {
    width: 15px;
    height: 20px
}

.social-media__link--vimeo svg {
    width: 20px;
    height: 18px
}

.social-media__link--dribbble svg {
    width: 20px;
    height: 20px
}

.social-media__link--twitter svg {
    width: 20px;
    height: 17px
}

.social-media__link--behance svg {
    width: 20px;
    height: 13px
}

.social-media__link--inst svg {
    width: 20px;
    height: 20px
}

.social-media__link--youtube svg {
    width: 16px;
    height: 20px
}

.social-media__link--google svg {
    width: 22px;
    height: 14px
}

.social-media__link:hover {
    background-color: #c9a96e
}

.social-media__link:hover svg {
    fill: #fff
}

.social-media__link:hover .social-media__stats {
    color: #fff
}

.social-media__stats {
    margin-top: 6px;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    font-family: "PT Sans", sans-serif;
    transition: color .3s ease-in-out
}

.social-media__stats span {
    display: block
}

.tags__list {
    display: flex;
    flex-wrap: wrap
}

.tags__link {
    padding: 6px 17px 5px;
    font-size: 14px;
    line-height: 19px;
    color: #666;
    transition: color .3s ease-in-out, background-color .3s ease-in-out
}

.tags__link:hover {
    background-color: #c9a96e;
    color: #fff
}

.pagination {
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif
}

.pagination__list {
    display: flex
}

.pagination__item:not(:last-child) {
    margin-right: 10px
}

.pagination__link {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    padding: 18px 22px 16px;
    font-size: 16px;
    line-height: 16px;
    color: #171717
}

.pagination__link:hover {
    background-color: #c9a96e;
    color: #fff
}

.pagination__link--ellipsis {
    pointer-events: none
}

.pagination__link--ellipsis:hover {
    background-color: transparent
}

.pagination__link--active {
    position: relative
}

.pagination__link--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c9a96e;
    height: 2px
}

.pagination__nav {
    font-size: 14px;
    line-height: 16px;
    color: #a2a2a2;
    text-transform: uppercase;
    position: relative;
    transition: color .3s ease-in-out
}

.pagination__nav::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    border: 1px solid currentColor;
    mix-blend-mode: normal;
    border-bottom: 0;
    border-left: 0
}

.pagination__nav--older {
    margin-right: 30px;
    padding-left: 16px
}

.pagination__nav--older::before {
    left: 0;
    transform: rotate(225deg)
}

.pagination__nav--next {
    margin-left: 30px;
    padding-right: 14px
}

.pagination__nav--next::before {
    right: 0;
    transform: rotate(45deg)
}

.pagination__nav:hover {
    color: #171717
}

.social {
    display: flex
}

.social__item {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    transition: background-color .3s ease-in-out
}

.social__item:not(:last-child) {
    margin-right: 20px
}

.social__item:hover {
    background-color: #c9a96e
}

.social__item:hover svg {
    fill: #fff
}

.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.social__link svg {
    transition: fill .3s ease-in-out;
    width: 15px;
    height: 15px;
    fill: #666
}

.social__link--fb svg {
    width: 9px;
    height: 16px
}

.social__link--twitter svg {
    width: 16px;
    height: 13px
}

.social__link--pinterest svg {
    width: 13px;
    height: 16px
}

.social__link--google svg {
    width: 20px;
    height: 13px
}

.social__link--behance svg {
    width: 18px;
    height: 11px
}

.social__link--inst svg {
    width: 17px;
    height: 17px
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
    opacity: 1
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
    outline: red solid 2px;
    outline-offset: 2px
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
    opacity: .4;
    pointer-events: none
}

@media (max-width:1175px) {
    .hero {
        background-position: center
    }
}

@media (max-width:1024px) {
    .instagram__list {
        gap: 5px
    }

    .sidebar__block:not(:first-child) {
        margin-top: 0
    }

    .posts-sidebar__container {
        display: block
    }

    .sidebar {
        margin: 100px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .sidebar__author {
        order: 1;
        max-width: 270px
    }

    .about-author__wrapper {
        height: auto
    }

    .sidebar__featured-posts {
        order: 4;
        margin-top: 50px !important
    }

    .sidebar__categories {
        order: 3;
        margin-top: 50px !important;
        flex-basis: 100%
    }

    .sidebar__social {
        order: 2;
        max-width: 270px
    }

    .sidebar__tags {
        order: 5;
        flex-basis: 100%;
        margin-top: 50px !important
    }

    .featured-posts__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px
    }

    .posts-item__content {
        padding: 15px
    }
}

@media (max-width:700px) {
    .instagram__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }

    .sidebar__author {
        max-width: 100%
    }

    .sidebar__social {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 50px !important
    }

    .social-media__list {
        justify-content: center
    }

    .pagination__nav {
        font-size: 0;
        height: 100%
    }

    .pagination__nav::before {
        top: 2px;
        width: 12px;
        height: 12px
    }
}

@media (max-width:600px) {
    .footer__nav .nav__list {
        justify-content: center
    }

    .tags__list {
        justify-content: space-between
    }

    .featured-posts__content {
        padding: 10px 7px
    }

    .featured-posts__title {
        font-size: 15px;
        line-height: 20px
    }

    .header__nav {
        display: flex
    }

    .posts__item {
        grid-column: 2 span
    }

    .posts-item--big .posts-item__content {
        text-align: left;
        padding: 15px 25px
    }

    .posts-item__info {
        justify-content: space-between
    }

    .header__nav-list {
        position: fixed;
        right: 0;
        top: 85px;
        z-index: 10000;
        background-color: #fff;
        margin-top: 0;
        height: 100vh;
        padding-bottom: 25px;
        width: 50vw;
        min-width: 180px;
        overflow-y: auto;
        transform: translateX(100vw);
        transition: transform .3s ease-in-out;
        flex-direction: column
    }

    .header__nav-list .nav__item {
        margin: 0
    }

    .header__nav-list .nav__link {
        border-bottom: 1px solid #edecf2;
        width: 100%;
        padding: 10px;
        transition: background-color .3s ease-in-out, color .3s ease-in-out
    }

    .header__nav-list .nav__link:hover {
        background-color: #c9a96e;
        color: #fff
    }

    .header__nav-list.header__nav-list--active {
        transform: translateX(0)
    }

    .burger {
        --burger-width: 30px;
        --burger-height: 17px;
        --burger-line-height: 2px;
        display: block;
        position: relative;
        border: none;
        padding: 0;
        width: var(--burger-width);
        height: var(--burger-height);
        color: #171717;
        background-color: transparent;
        cursor: pointer
    }

    .burger::after,
    .burger::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transition: transform .3s ease-in-out, top .3s ease-in-out
    }

    .burger::before {
        top: 0
    }

    .burger::after {
        top: calc(100% - var(--burger-line-height))
    }

    .burger__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform .3s ease-in-out
    }

    .burger--active::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform .3s ease-in-out, top .3s ease-in-out
    }

    .burger--active::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform .3s ease-in-out, top .3s ease-in-out
    }

    .burger--active .burger__line {
        transform: scale(0);
        transition: transform .3s ease-in-out
    }
}

@media (max-width:500px) {
    .instagram__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .pagination {
        justify-content: space-between
    }

    .pagination__item:not(:last-child) {
        margin-right: 0
    }

    .pagination__link {
        padding: 13px 16px 11px;
        font-size: 14px;
        line-height: 14px
    }

    .pagination__nav {
        margin: 0
    }

    .pagination__nav::before {
        top: 2px;
        width: 10px;
        height: 10px
    }

    .pagination__nav--next {
        margin-right: 15px
    }

    .pagination__nav--older {
        margin-left: 15px
    }

    .hero__title {
        font-size: 25px;
        line-height: 35px
    }

    .hero__info {
        font-size: 12px;
        line-height: 15px;
        justify-content: space-between
    }
}