.header__top {
  background-color: #0E77AF;
}
.header__main {
  background-color: #F2F2F2;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
.header__main--position-fixed {
  position: fixed;
  transform: translateY(-110%);
  background-color: #eaeaea;
  box-shadow: 0 1px 0 0 #0E77AF;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 101;
  opacity: 0;
}
.header__main--position-fixed .header-main__logo {
  width: 56px;
  height: 57px;
}
.header__main--opacity {
  opacity: 1;
}
.header__main--fixed {
  transform: translateY(0);
}
.header__main--fixed .header-main__container {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding 0.3s ease-in-out;
}

.burger {
  display: none;
}

.header-top__container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.header-top__email {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.header-top__email::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #ededed;
  width: 0;
  height: 1px;
  transition: width 0.3s ease-in-out;
}
.header-top__email:hover {
  color: #ededed;
}
.header-top__email:hover::before {
  width: 100%;
}

.header-main__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.header-main__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main__nav {
  display: flex;
}
.header-main__call {
  margin-left: 58px;
  padding-left: 34px;
  position: relative;
}
.header-main__call::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 23px;
  height: 33px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main__call-title {
  color: #7D7D7D;
  font-size: 14px;
  line-height: 16px;
}
.header-main__call-phone {
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

.hero .swiper-button-prev::after,
.hero .swiper-button-next::after {
  content: "";
  background-image: url("../img/arrow-right.svg");
  width: 19px;
  height: 35px;
  top: 0;
  left: 0;
}
.hero .swiper-button-prev {
  left: 100px;
}
.hero .swiper-button-prev::after {
  transform: rotate(-180deg);
}
.hero .swiper-button-next {
  right: 100px;
}

.hero-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7D7D7D;
}
.hero-slide__container {
  display: flex;
  justify-content: flex-end;
}
.hero-slide__inner {
  padding-top: 150px;
  padding-bottom: 135px;
  max-width: 585px;
}
.hero-slide__subtitle {
  font-size: 28px;
  line-height: 32px;
}
.hero-slide__title {
  margin: 0;
  margin-top: 2px;
  font-weight: bold;
  font-size: 84px;
  line-height: 96px;
}
.hero-slide__descr {
  margin-top: 2px;
  font-size: 32px;
  line-height: 42px;
}
.hero-slide__btn {
  margin-top: 40px;
  padding: 25px 86px;
}

.about {
  margin-top: 85px;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__title {
  margin: 0;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000;
}

.about-us {
  max-width: 770px;
}
.about-us__img {
  background-color: #0E77AF;
}
.about-us__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-us__text {
  margin-top: 38px;
  font-size: 16px;
  line-height: 29px;
  color: #000;
}
.about-us__text p:not(:last-child) {
  margin-bottom: 50px;
}

.why-us__list {
  display: flex;
  flex-direction: column;
}
.why-us-item {
  position: relative;
  max-width: 350px;
}
.why-us-item::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 40px;
  right: 20px;
}
.why-us-item--dependable::after {
  background-image: url("../img/why-us-1.svg");
  width: 33px;
  height: 35px;
}
.why-us-item--open::after {
  background-image: url("../img/why-us-2.svg");
  width: 27px;
  height: 27px;
}
.why-us-item--connected::after {
  background-image: url("../img/why-us-3.svg");
  width: 32px;
  height: 20px;
}
.why-us-item__wrapper {
  padding: 45px 30px 45px 37px;
  background-color: #F8F8F8;
  transition: background-color 0.3s ease-in-out;
}
.why-us-item__wrapper:hover {
  background-color: #F3F3F3;
}
.why-us-item__wrapper:hover .why-us-item__link {
  color: #646464;
}
.why-us-item__wrapper:hover .why-us-item__link::before {
  width: 100%;
}
.why-us-item__title {
  color: #0E77AF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.why-us-item__descr {
  margin-top: 17px;
  font-size: 16px;
  line-height: 25px;
  color: #000;
}
.why-us-item__link {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 29px;
  font-weight: 700;
  color: #7D7D7D;
  transition: color 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}
.why-us-item__link::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: #0E77AF;
  width: 0;
  height: 1px;
  transition: width 0.3s ease-in-out;
}

.benefits {
  margin-top: 135px;
}
.benefits__container {
  display: flex;
}
.benefits__left {
  position: relative;
  background-color: #0E77AF;
  max-width: 650px;
}
.benefits__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.benefits__tabs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.benefits__tab {
  display: block;
  background-color: rgba(14, 119, 175, 0.9);
  mix-blend-mode: normal;
  color: #fff;
  padding: 25px 35px;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  transition: background-color 0.3s ease-in-out;
}
.benefits__tab:not(:last-child) {
  margin-bottom: 21px;
}
.benefits__tab.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}
.benefits__tab.active:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
.benefits__tab:hover {
  background-color: rgba(14, 119, 175, 0.95);
}
.benefits__list {
  max-width: 520px;
  padding: 70px 25px;
}
.benefits__item {
  display: none;
}
.benefits__item.active {
  display: block;
}
.benefits__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000;
}
.benefits__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #7D7D7D;
  margin-top: 10px;
}
.benefits__descr {
  margin-top: 38px;
}
.benefits__descr-item {
  position: relative;
  padding-left: 12px;
  font-size: 16px;
  line-height: 29px;
  color: #000;
}
.benefits__descr-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  left: 0;
  top: 13px;
}
.benefits__descr-item:not(:last-child) {
  margin-bottom: 10px;
}
.benefits__btn {
  margin-top: 30px;
  padding: 6px 22px;
  font-size: 12px;
  line-height: 23px;
}

.services-security {
  margin-top: 130px;
}
.services-security__container {
  display: flex;
}
.services-security__left {
  margin-right: 95px;
}
.services-security__title {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  color: #000;
  margin-bottom: 10px;
}
.services-security__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #7D7D7D;
  margin-bottom: 65px;
}

.services__items {
  color: #000;
  margin-bottom: 30px;
  width: 600px;
}

.services__item {
  margin-bottom: 30px;
  width: 100%;
}

.services__item-title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #0E77AF;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  border-bottom: 1px solid #7D7D7D;
}

.services__items._init .services__item-title {
  padding-bottom: 25px;
  cursor: pointer;
}

.services__items._init .services__item-title::before,
.services__items._init .services__item-title::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 20px;
  transition: transform 0.3s ease 0s;
}

.services__items._init .services__item-title::after {
  transform: rotate(-90deg);
}

.services__items._init .services__item-title._active::after {
  transform: rotate(0deg);
}

.services__item-content {
  margin-top: 32px;
}

.services-item-content__wrapper {
  display: flex;
  justify-content: space-between;
}
.services-item-content__img {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  background-color: #0E77AF;
}
.services-item-content__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.services-item-content__descr {
  margin-left: 20px;
}
.services-item-content__text {
  font-size: 16px;
  line-height: 29px;
  color: #000;
}
.services-item-content__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 15px 5px 0px;
  color: #7D7D7D;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
}
.services-item-content__link:hover {
  color: #4a4a4a;
}

.security__img {
  max-width: 474px;
  max-height: 323px;
  background-color: #0E77AF;
}
.security__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.security__descr {
  margin-top: 30px;
  font-size: 16px;
  line-height: 29px;
  color: #000;
}
.security__btn {
  margin-top: 20px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 23px;
}

.testimonials {
  margin-top: 150px;
  background-color: #0E77AF;
}
.testimonials__container {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.testimonials__left {
  color: #fff;
}
.testimonials__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.testimonials__subtitle {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px;
}
.testimonials__procent {
  margin-top: 75px;
  font-size: 64px;
  line-height: 73px;
  font-weight: 700;
}
.testimonials__procent p {
  margin-top: 1px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
.testimonials__right {
  max-width: 734px;
  margin-left: 50px;
}

.testimonials-block {
  padding: 75px 50px;
  color: #000;
  background-color: #fff;
}
.testimonials-block__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.testimonials-block__descr {
  margin-top: 15px;
  font-size: 16px;
  line-height: 29px;
}
.testimonials-block__name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 50px;
}

.application {
  margin-top: 180px;
}
.application__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.application__item:not(:last-child) {
  margin-bottom: 30px;
}
.application__title {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-weight: 700;
}
.application__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px;
  color: #7D7D7D;
}
.application__descr {
  margin-top: 25px;
  color: #595959;
  font-size: 16px;
  line-height: 29px;
}
.application__link {
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 29px;
  color: #7D7D7D;
  padding: 5px 0;
  padding-right: 15px;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
}
.application__link:hover {
  color: #616161;
}
.application__right {
  margin-top: -54px;
  margin-left: 120px;
  padding: 54px 40px 50px 45px;
  background: linear-gradient(180deg, #FCFCFC 0%, #F7F7F7 100%);
}

.appointment-form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
.appointment-form__input {
  width: 100%;
  border: 2px solid #E2E2E2;
  background-color: #fff;
  padding: 19px 25px 18px 15px;
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
  outline-color: #0E77AF;
}
.appointment-form__input::-moz-placeholder {
  color: #4A4A4A;
}
.appointment-form__input:-ms-input-placeholder {
  color: #4A4A4A;
}
.appointment-form__input::placeholder {
  color: #4A4A4A;
}
.appointment-form__input:not(:last-child) {
  margin-bottom: 35px;
}
.appointment-form__btn {
  padding: 6px 37px;
  font-size: 12px;
  line-height: 23px;
  align-self: flex-end;
}

.contacts {
  margin-top: 130px;
  margin-bottom: -96px;
}
.contacts__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contacts__item {
  background-color: #7D7D7D;
  color: #fff;
  padding: 40px 65px 85px;
}
.contacts__item--addres {
  background-color: #5F5F5F;
}
.contacts__item--phone {
  background-color: #6C6C6C;
}
.contacts__item--email {
  background-color: #7B7B7B;
}
.contacts__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.contacts__content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 29px;
  position: relative;
}
.contacts__content::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
}
.contacts__content--addres {
  padding-left: 34px;
  margin-left: -34px;
}
.contacts__content--addres::before {
  background-image: url("../img/mark.svg");
  width: 19px;
  height: 27px;
}
.contacts__content--phone {
  padding-left: 38px;
  margin-left: -38px;
}
.contacts__content--phone::before {
  background-image: url("../img/phone--white.svg");
  width: 23px;
  height: 23px;
}
.contacts__content--email {
  padding-left: 39px;
  margin-left: -39px;
}
.contacts__content--email::before {
  background-image: url("../img/at.svg");
  width: 24px;
  height: 24px;
}

.footer__top {
  background-color: #4A4A4A;
}
.footer__bottom {
  background-color: #363636;
}

.footer-top {
  padding-top: 175px;
  padding-bottom: 125px;
  color: #fff;
}
.footer-top__items {
  display: flex;
  justify-content: space-between;
}
.footer-top__item--about {
  max-width: 340px;
}
.footer-top__item--links {
  max-width: 230px;
}
.footer-top__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 45px;
}
.footer-top__descr {
  font-size: 16px;
  line-height: 29px;
}
.footer-top__element:not(:last-child) {
  margin-bottom: 5px;
}
.footer-top__link {
  font-size: 16px;
  line-height: 29px;
  transition: color 0.3s ease-in-out;
}
.footer-top__link:hover {
  color: #e6e6e6;
}
.footer-top .social__link {
  width: 40px;
  height: 40px;
}

.footer-bottom__copyright {
  font-size: 16px;
  line-height: 29px;
  color: #fff;
  padding: 25px 0;
}

.social__list {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 21px;
}
.social__link {
  width: 22px;
  height: 22px;
  display: block;
}
.social__link svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
.social__link svg:hover {
  fill: #ededed;
}

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
.nav__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.nav__link:hover {
  color: #666666;
}
.nav__link--active {
  font-weight: 700;
}
.nav__link--active:hover {
  color: currentColor;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1500px) {
  .hero .swiper-button-prev {
    left: 30px !important;
  }
  .hero .swiper-button-next {
    right: 30px !important;
  }
}
@media (max-width: 1315px) {
  .about__container {
    display: block;
  }

  .why-us {
    margin-top: 50px;
  }

  .about__title {
    margin-bottom: 25px;
  }

  .services-security__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-security__left {
    margin-right: 0;
    max-width: 600px;
    width: 100%;
  }

  .services-security__right {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 474px;
  }

  .services__items {
    width: 100%;
  }

  .services__title {
    text-align: center;
  }

  .services__subtitle {
    text-align: center;
  }

  .why-us__list {
    flex-direction: row;
  }
}
@media (max-width: 1050px) {
  .benefits__list {
    max-width: 350px;
    padding: 70px 25px;
  }

  .hero .swiper-button-prev {
    left: 15px !important;
  }
  .hero .swiper-button-next {
    right: 15px !important;
  }

  .header__top {
    display: none;
    overflow: hidden;
  }

  .header__main {
    border-bottom: 2px solid #0E77AF;
    position: fixed;
    background-color: #eaeaea;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
  }

  .header-main__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-main__logo {
    width: 56px;
    height: 57px;
  }

  .contacts {
    margin-top: 110px;
    margin-bottom: -50px;
  }

  .contacts__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer-top {
    padding-top: 105px;
    padding-bottom: 60px;
  }

  .application__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .application__right {
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }

  .appointment-form__btn {
    width: 50%;
    align-self: center;
  }

  .application {
    margin-top: 100px;
  }

  .hero {
    margin-top: 89px;
  }

  .nav__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 99;
    right: 0;
    border-left: 2px solid #0E77AF;
    background-color: #eaeaea;
    width: 200px;
    height: 100vh;
    transform: translateX(calc(100% + 10px));
    transition: transform 0.3s ease-in-out;
  }

  .nav__list--active {
    transform: translateX(0);
  }

  .nav__link {
    width: 100%;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .nav__link:hover {
    background-color: #1297de;
    color: #fff;
  }

  .burger {
    display: block;
    z-index: 999;
  }

  .header-main__container {
    justify-content: start;
  }

  .header-main__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header-main__nav {
    order: 2;
  }

  .header-main__call {
    order: 1;
  }

  .nav__item:not(:last-child) {
    margin-right: 0px;
  }

  .burger {
    --burger-width: 35px;
    --burger-height: 20px;
    --burger-line-height: 2px;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #1297de;
    background-color: transparent;
    cursor: pointer;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
}
@media (max-width: 900px) {
  .footer-bottom__copyright {
    text-align: center;
  }

  .footer-top__items {
    flex-wrap: wrap;
  }

  .footer-top__item--about {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .footer-top__title {
    margin-bottom: 15px;
  }

  .contacts__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts__item {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 20px;
  }

  .contacts__content {
    font-size: 14px;
    line-height: 20px;
  }

  .services-security {
    margin-top: 70px;
  }

  .benefits__list {
    max-width: 100%;
  }

  .benefits {
    margin-top: 70px;
  }

  .benefits__title,
.benefits__subtitle {
    text-align: center;
  }

  .benefits__btn {
    width: 100%;
  }

  .benefits__tabs {
    bottom: 0;
    top: auto;
    right: auto;
    width: 100%;
    transform: translateY(0);
  }

  .benefits__tab {
    text-align: center;
    width: 100%;
    padding: 8px 10px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .benefits__tab.active {
    border-top: 2px solid #0E77AF;
    border-bottom: 2px solid #0E77AF;
  }

  .benefits__tab:not(:last-child) {
    margin-bottom: 10px;
  }

  .benefits__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-us__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-us__item {
    max-width: 100%;
  }

  .why-us__item {
    margin-top: 20px;
  }

  .hero-slide__container {
    justify-content: center;
  }

  .hero-slide__inner {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .security__btn {
    width: 100%;
  }

  .application__title {
    font-size: 26px;
    line-height: 30px;
  }

  .application__subtitle {
    font-size: 20px;
    line-height: 22px;
  }

  .application__descr {
    font-size: 14px;
    line-height: 20px;
  }

  .application__link {
    color: #616161;
  }

  .appointment-form__btn {
    width: 100%;
  }

  .testimonials__title {
    font-size: 25px;
    line-height: 30px;
  }

  .testimonials__subtitle {
    font-size: 15px;
    line-height: 20px;
  }

  .testimonials__procent {
    font-size: 45px;
    line-height: 30px;
    text-align: right;
    margin-left: 5px;
  }

  .testimonials__procent p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  .testimonials-block {
    margin-top: 40px;
    padding: 30px;
  }

  .testimonials-block__descr {
    font-size: 13px;
    line-height: 20px;
  }

  .testimonials-block__name {
    margin-top: 20px;
  }

  .testimonials__container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .testimonials__right {
    margin-left: 0;
  }

  .testimonials__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .testimonials__procent {
    margin-top: 0;
  }

  .hero-slide__inner {
    max-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero-slide__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-slide__title {
    font-size: 55px;
    line-height: 68px;
  }

  .hero-slide__descr {
    font-size: 20px;
    line-height: 28px;
  }

  .hero-slide__btn {
    margin-top: 25px;
    padding: 18px 70px;
    font-size: 20px;
    line-height: 19px;
  }
}
@media (max-width: 450px) {
  .footer-top__items {
    flex-direction: column;
    justify-content: center;
  }

  .footer-top__item--social {
    margin-top: 60px;
  }

  .services__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .services-item-content__text {
    font-size: 14px;
    line-height: 22px;
  }

  .services-item-content__link {
    color: #4a4a4a;
  }

  .benefits__tab {
    font-size: 15px;
    line-height: 17px;
    border: 2px solid transparent;
  }
  .benefits__tab.active {
    border: 2px solid #0E77AF;
  }

  .benefits__tabs {
    top: 110%;
  }

  .benefits__list {
    margin-top: 130px;
  }

  .hero .swiper-button-prev::after,
.hero .swiper-button-next::after {
    background-size: 14px 28px;
    width: 14px;
    height: 28px;
    background-repeat: no-repeat;
  }

  .hero .swiper-button-prev {
    left: 0px !important;
  }
  .hero .swiper-button-next {
    right: 0px !important;
  }

  .hero-slide__inner {
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero-slide {
    background-position: top left -100px;
  }

  .hero-slide__title {
    font-size: 40px;
    line-height: 55px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-main__call {
    margin-left: 10px;
    padding-left: 30px;
  }

  .header-main__call-title {
    font-size: 12px;
    line-height: 14px;
  }

  .header-main__call-phone {
    font-size: 13px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
