// page-main

.gradietn__inner{
	position: absolute;
	left: 0;
	right: 0;
}

// top
.top{
	margin-top: 135px;
	&__inner{
		display: flex;
		position: relative;
	}

	&__title{
		@extend %color--t2;
		font-weight: bold;
		font-size: 44px;
		line-height: 50px;
		font-family: 'Inter', sans-serif;
		max-width: 531px;
	}
	&__subtitle{
		@extend %color--t1;
		font-size: 18px;
		line-height: 22px;
		max-width: 468px;
		margin-top: 19px;
	}
	&__left{
		max-width: 540px;
	}
	&__btn{
		margin-top: 40px;
	}
	&__btn-more{
		@extend %btn-bg;
		padding: 13px 31px;
		margin-right: 19px;
	}
	&__btn-demo{
		@extend %btn-nobg;
		padding: 13px 58px;
	}
	&__video{
		margin-top: 60px;
		display: flex;
	}
	&__video-view{
		background-color: #361C5D;
		width: 140px;
		height: 80px;
		border-radius: 4px;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__video-text{
		p{
			@extend %color--t1;
			font-size: 16px;
			line-height: 22px;
			max-width: 380px;
			margin-top: 5px;
		}
		a{
			font-size: 14px;
			line-height: 22px;
			color: #6D6D78;
		}
	}

	&__img{
		position: absolute;
		top: -30px;
		right: -200px;
		background-position: 0 0;
		background-size: cover;
		background-repeat: no-repeat;

	}
}


// choice

.choice{
	padding-bottom: 50px;
	margin-top: 150px;
	&__inner{
		margin-top: 98px;
	}
	&__title{
		@extend %color--t2;
		font-size: 42px;
		line-height: 50px;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		text-align: center;
	}
	&__subtitle{
		@extend %color--t1;
		font-family: 'Gilroy-SemiBold';
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		margin-top: 13px;
	}
	&__items{
		margin-top: 50px;
		display: grid; 
		grid-template-columns: repeat(3, 299px);
		grid-gap: 35px;
		justify-content: center;
	}
	&__item{
		padding-left: 52px;
		font-family: 'Gilroy-SemiBold';
		position: relative;
		&::before{
			content: "";
			background-image: url('../../images/svg/choice-1.svg');
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			position: absolute;
		}
	}
	&__item:nth-child(2):before{
		background-image: url('../../images/svg/choice-2.svg');
	}
	&__item:nth-child(3):before{
		background-image: url('../../images/svg/choice-3.svg');
	}
	&__item:nth-child(4):before{
		background-image: url('../../images/svg/choice-4.svg');
	}
	&__item:nth-child(5):before{
		background-image: url('../../images/svg/choice-5.svg');
	}
	&__item:nth-child(6):before{
		background-image: url('../../images/svg/choice-6.svg');
	}
	&__item-title{
		position: relative;
		@extend %color--t2;
		font-size: 18px;
		line-height: 22px;
	}
	&__item-text{
		font-size: 14px;
		line-height: 22px;
		@extend %color--t1;
		margin-top: 10px;
	}
}


// trafic

.trafic{
	&__inner{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__left{
		padding: 156px 0px 216px;
	}
	&__title{
		@extend %color--t2;
		font-size: 42px;
		line-height: 50px;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		max-width: 470px;
		span{
			@extend %color--base;
		}
	}
	&__subtitle{
		margin-top: 32px;
		@extend %color--t1;
		font-size: 15px;
		line-height: 28px;
		font-family: Gilroy-SemiBold;
		letter-spacing: 0.5px;
		max-width: 470px;
		margin-bottom: 50px;
	}
	&__btn{
		@extend %btn-bg;
		padding: 14px 31px;
	}
	&__img{
		margin-left: 58px;
	}
}

// trafic-savemoney__bg
.trafic-savemoney__bg{
	position: relative;
	img{
		background-image: url('../../images/trafic-savemoney-bg.png');
		top: -291px;
		left: -15px;
		position: absolute;
		opacity: 0.2;
	}
}


// save-money

.save-money{
	font-family: 'Inter', sans-serif;
	&__title{
		@extend %color--t2;
		font-weight: 700;
		margin: 42px auto 0;
		max-width: 743px;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.33px;
		span{
			@extend %color--base;
		}
	}
	&__subtitle{
		@extend %color--t1;
		font-family: Gilroy-SemiBold;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;
		margin: 42px auto 0;
		max-width: 414px;
		text-align: center;
	}
	&__items{
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 230px);
		margin-top: 48px;
	}
	&__item{
		
	}
	&__item-title{
		@extend %color--t2;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.33px;
	}
	&__item-descr{
		font-family: Gilroy-SemiBold;
		font-weight: 600;
		@extend %color--t1;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.2px;
		margin-top: 16px;
	}
}



// framework

.framework{
	position: relative;
	margin-top: 169px;
	text-align: center;
	font-family: 'Inter', sans-serif;
	&__title{
		@extend %color--t2;
		font-weight: 700;
		margin: 0 auto;
		max-width: 864px;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.33px;
		margin-bottom: 46px;
		span{
			@extend %color--base;
		}
	}
	&__btn{
		@extend %btn-bg;
		padding: 17px 32px;
	}
	&__img{
		img{
			margin-top: -100px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
}



// invest


.invest{
	padding-bottom: 166px;
	&__inner{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__left{
	}
	&__title{
		@extend %color--t2;
		font-size: 42px;
		line-height: 50px;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		max-width: 470px;
		span{
			@extend %color--base;
		}
	}
	&__subtitle{
		margin-top: 32px;
		@extend %color--t1;
		font-size: 15px;
		line-height: 28px;
		font-family: Gilroy-SemiBold;
		letter-spacing: 0.5px;
		max-width: 470px;
		margin-bottom: 50px;
	}
	&__btn{
		@extend %btn-nobg;
		padding: 13px 58px;
	}
	&__right{
		margin-left: 163px;
		position: relative;
		&::before{
			content: "";
			background-image: url('../../images/invest-bg.png');
			position: absolute;
			width: 818px;
			height: 461px;
			background-size: cover;
			top: 16px;
			left: -159px;
		}
	}
	&__right-inner{
		width: 260px;
		height: 414px;
		background-color: #fff;
		border-radius: 10px;
	}
	&__right-img{
		position: relative;
	}
	&__right-content{
		padding: 20px 30px 22px;
		position: relative;
	}
	&__right-title{
		color: #212B36;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
	}
	&__right-descr{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.5px;
		color: #637381;
	}
	&__right-cost{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #13C296;
		margin-top: 22px;
		margin-bottom: 5px;
	}
	&__right-costdescr{
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #98A4AF;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		padding-bottom: 20px;
		border-bottom: 1px solid #D6DBDF;
	}
	&__right-statistics{
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}
	&__right-item{
		p:first-child{
			font-size: 14px;
			line-height: 17px;
			color: #212B36;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
		}
		p:last-child{
			font-size: 10px;
			line-height: 14px;
			letter-spacing: 0.5px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			color: #637381;
		}
	}
	&__right-profit{
		background-color: #13C296;
		box-shadow: -11px 16px 25px rgba(19, 194, 150, 0.24);
		width: 60px;
		height: 60px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
		border-radius: 6px;
		top: -86px;
		left: -30px;
	}
	&__right-tasks{
		position: absolute;
		top: 26px;
		right: -113px;
		background: #516EA9;
		box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
		border-radius: 0px 10px 10px 0px;
		display: inline-block;
		padding: 15px 30px 15px 13px;
		p:first-child{
			font-size: 16px;
			line-height: 20px;
			font-weight: 500;
			font-family: 'Montserrat', sans-serif;
			color: #FFFFFF;
		}
		p:last-child{
			font-weight: 600;
			font-size: 10px;
			line-height: 14px;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.5px;
			color: #FFFFFF;
		}
	}
}



// help

.help{
	position: relative;
	padding-bottom: 252px;
	&::before{
		content: "";
		background-image: url('../../images/help-bg.png');
		top: -75px;
		right: -50px;
		position: absolute;
		width: 384px;
		height: 566px;
	}
	&__inner{
		
		display: flex;
		align-items: center;
	}
	&__content{
		width: 512px;
		margin-left: 85px;
	}
	&__title{
		@extend %color--t2;
		font-weight: bold;
		font-size: 26px;
		font-family: 'Inter', sans-serif;
		line-height: 32px;
		letter-spacing: 0.325px;
		margin-bottom: 32px;
	}
	&__descr{
		font-family: Gilroy-SemiBold;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;
		font-weight: 600;
		max-width: 414px;
		@extend %color--t1;
	}
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		width: 224px;
		position: relative;
		margin-top: 100px;

	}
	&__item-title{
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.2px;
		font-family: 'Inter', sans-serif;
		margin-bottom: 8px;
		@extend %color--t2;
	}
	&__item::before{
		content: "";
		background-image: url("../../images/svg/help-item-1.svg");
		position: absolute;
		top: -42px;
		left: 0;
		width: 36px;
		height: 36px;
	}
	&__item:nth-child(2)::before{
		background-image: url("../../images/svg/help-item-2.svg");
	}
	&__item-descr{
		@extend %color--t1;
		font-family: Gilroy-SemiBold;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;
	}
}


// email

.email{
	position: relative;
	z-index: 99;
	padding-bottom: 78px;
	&::before{
		content: "";
		position: absolute;
		background-image: url('../../images/email-bg.png');
		right: 0;
		left: 0;
		top: -50px;
		bottom: 0;
	}
	&__inner{
		text-align: center;
		margin: 0 auto;
		background: rgba(60, 62, 125, 0.19);
		backdrop-filter: blur(134px);
		position: relative;
		border-radius: 5px;
		max-width: 940px;
		padding: 50px 20px;
		font-family: 'Rubik', sans-serif;
	}
	&__title{
		@extend %color--base;
		font-weight: 500;
		font-size: 36px;
		line-height: 43px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__descr{
		max-width: 396px;
		font-weight: 400;
		margin: 0 auto;
		margin-bottom: 23px;
		color: #95A1BB;
		font-size: 16px;
		line-height: 22px;
	}
	&__form{
		margin: 0 auto;
		input{
			background-color: rgba(#F6F6F6, 0.1);
			border-radius: 5px 0px 0px 5px;
			width: 288px;
			height: 56px;
			padding: 18px 16px;
			color: rgba(#fff, 0.6);
			&::placeholder{
				color: #FFFFFF;
				opacity: 0.2;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0.2px;
			}
		}
		button{
			position: relative;
			right: 4px;
			border: none;
			outline: none;
			cursor: pointer;
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: 18px 0;
			width: 128px;
			top: -2px;
			background: #F2994A;
			border-radius: 0px 5px 5px 0px;
			color: #FFFFFF;
		}
	}
	&__input-descr{
		margin-top: 16px;
		font-size: 14px;
		line-height: 20px;
		@extend %color--t1;
		font-family: 'Gilroy-SemiBold';
		letter-spacing: 0.2px;
	}
}
